<div>
	<h2><%= @user.name %></h2>
	<p><%= @user.email %></p>
</div>
<% @events.each do |event| %>
	<div class="dash-review">
		<h2><%= link_to event.title, event_path(event.id) %></h2>
		<p><%= event.user.name %></p>
		<p><%= event.description %></p>
	</div>
<% end %>