<%= form_for(@event) do |f| %>
	<div class="field">
		<p>Title</p>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<p>Date</p>
		<%= f.text_field :date %>
	</div>
	<div class="field">
		<p>Time</p>
		<%= f.text_field :time %>
	</div>
	<div class="field">
		<p>Description</p>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<p>User</p>
		<%= f.collection_select :user_id, User.all, :id, :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>