<%= form_for(@event) do |f| %>
	<div class="field">
		<p>Title</p>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<p>Date</p>
		<%= f.text_field :date %>
	</div>
	<div class="field">
		<p>Time</p>
		<%= f.text_field :time %>
	</div>
	<div class="field">
		<p>Description</p>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>